@*@model  System.Collections.Generic.IEnumerable<AdminPanelDevice.Models.WalkTowerDevice>*@


<div id="liveDiagram">
    @foreach (var item in ViewBag.Sensor)
    {
    <table id="liveTable" style="margin-top:2px;">
        <tr>
            <td rowspan="70" class="cl">
                <p id="live@(item[0].TowerSensor[0].TowerName)">
                    @item[0].TowerSensor[0].TowerName
                </p>
            </td>

            @foreach (var items in item[0].TowerSensor)
            {
                <th colspan="2" id="liveDeviceName">@items.DeviceName</th>
            }
            </tr>
        
        <tr>

            @foreach (var items in item[0].TowerSensor)
            {
                <td>name</td>
                <td>value</td>
            }
        </tr>
        @foreach (var itm in item[0].SensorDevice)
        {
           
            <tr>
                @foreach (var it in itm)
                {
                    <td id="@(it.TowerName)getName@(it.ID)" value="@(it.DeviceID)" style="text-align:center">@it.OIDName</td>
                    <td id="@(it.TowerName)getValue@(it.ID)" value="@(it.DeviceID)" style="text-align:center">@it.Type</td>
                }
            </tr>
        }
    </table>
    }
    </div>


<link href="~/Content/Style/LiveGetStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
<script src="~/signalr/Hubs"></script>
<script type="text/javascript">
    var con = $.hubConnection(); // shecdomebit washla daxatva xazebis
    var hub = con.createHubProxy('hubMessage');
    hub.on('onHitRecorded', function (i) {

        if (i.GetTrap == "trap") {
            $("#livetower_" + i.TowerID).css('background-color', i.MapColor);
            $("#livetower_" + i.TowerID).css('color', i.TextColor);
        }
        if (i.GetTrap == "get") {
            var value = parseInt($("#tower_" + i.TowerID + "getValue" + i.ID).attr("value"));

            if (value == i.DeviceID) {
             //   alert(i.ID + "id" + i.Value);
                $("#tower_" + i.TowerID + "getValue" + i.ID).css('background-color', i.MapColor);
                $("#tower_" + i.TowerID + "getValue" + i.ID).css('color', i.TextColor);
                $("#tower_" + i.TowerID + "getValue" + i.ID).text(i.Value);
            }
        }
    });
    con.start();
</script>

<style>
    table, td, th {
        border: 1px solid black;
        text-align: center;
    }

    table {
        /*width: 500px;*/
        table-layout: fixed;
        width: 100%
    }

    p {
        position: relative;
        width: 100px;
        height: 104px;
        transform: rotate(-90deg);
        margin: 0;
        padding: 0;
    }

    .cl {
        max-width: 10px;
    }

    #liveTable {
        width: 50%;
    }

        #liveTable td {
            height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width:3%;
        }
</style>
