@*@model  System.Collections.Generic.IEnumerable<AdminPanelDevice.Models.WalkTowerDevice>*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="liveDiagram" style="display: block; overflow: auto;">
    @foreach (var item in ViewBag.Sensor)
    {
        <table id="liveTable" style="margin-top:2px;">
            <tr>
                <td rowspan="70" class="cl">
                    <p id="live@(item[0].TowerSensor[0].TowerName)">
                        @item[0].TowerSensor[0].TowerName
                    </p>
                </td>

                @foreach (var items in item[0].TowerSensor)
                {
                    <th colspan="2" id="liveDeviceName" style=""><a target="_blank" href="http://@(items.IP)" style="color:white" id="chartmenu@(items.ID)">@items.DeviceName</a></th>

                }
            </tr>

            <tr>
                @foreach (var items in item[0].TowerSensor)
                {
                    <td style="background-color:#525252">name</td>
                    <td style="border-right-color: #f8f9fa;background-color:#525252;">value<button class="fa fa-bar-chart" id="openChart" value="@(items.DeviceID)" name="@(items.IP)" style="margin-left:1%;position:absolute;width:31px;height:18px;color:black"></button></td>
                }
            </tr>
            @foreach (var itm in item[0].SensorDevice)
            {

                <tr>
                    @foreach (var it in itm)
                    {
                        <td id="@(it.TowerName)getName@(it.ID)" value="@(it.DeviceID)" style="text-align:center;">@it.MyDescription</td>
                        <td id="@(it.TowerName)getValue@(it.ID)" value="@(it.DeviceID)" style="text-align:center;border-right-color: #f8f9fa;">@it.Type</td>
                    }
                </tr>
            }
        </table>
    }
</div>
<audio id="alarmAudio">
    <source src="/Sound/danger_warning.mp3" type="audio/ogg">
</audio>

<link href="~/Content/Style/LiveGetStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
<script src="~/signalr/Hubs"></script>
<script type="text/javascript">

    var CrashCount = [{ "ID": 0, "TowerID": 0 }]
    var ErrorCount = [{ "ID": 0, "TowerID": 0 }]
    var Errorindicator = 0;
    var Crashindicator = 0;
    var alarm = document.getElementById("alarmAudio");

    var con = $.hubConnection(); // shecdomebit washla daxatva xazebis
    var hub = con.createHubProxy('hubMessage');
    hub.on('onHitRecorded', function (i) {
        if (i.GetTrap == "trap") {
            $("#livetower_" + i.TowerID).css('background-color', i.MapColor);
            $("#livetower_" + i.TowerID).css('color', i.TextColor);
        }
        if (i.GetTrap == "get") {
            var value = parseInt($("#tower_" + i.TowerID + "getValue" + i.ID).attr("value"));
            if (value == i.DeviceID) {

                if (i.DivideMultiply == null || i.DivideMultiply == "") {
                    $("#tower_" + i.TowerID + "getValue" + i.ID).text(i.Value);
                }
                else {
                    var st = i.DivideMultiply.charAt(0);
                    var count = i.DivideMultiply.substring(1, i.DivideMultiply.lenght);
                    if (i.DivideMultiply != null && st == "/") {
                        $("#tower_" + i.TowerID + "getValue" + i.ID).text(i.Value / parseInt(count));
                    }
                    if (i.DivideMultiply != null && st == "*") {
                        $("#tower_" + i.TowerID + "getValue" + i.ID).text(i.Value * parseInt(count));
                    }
                }
                if (i.MapColor == "red") {
                    alarm.play();
                    Errorindicator = 0;
                    ErrorCount.filter(function (error) {
                        if (error.ID == i.ID && error.TowerID == i.TowerID) {
                            Errorindicator = 1;
                        }
                    });
                    if (Errorindicator != 1) {
                        ErrorCount.push({ "ID": i.ID, "TowerID": i.TowerID });
                    }

                    CrashCount.filter(function (crash) {
                        if (crash.ID == i.ID && crash.TowerID == i.TowerID) {
                            CrashCount.splice(CrashCount.indexOf(crash), 1);
                        }
                    });

                }
                if (i.MapColor == "yellow") {
                    Crashindicator = 0;
                    CrashCount.filter(function (crash) {
                        if (crash.ID == i.ID && crash.TowerID == i.TowerID) {
                            Crashindicator = 1;
                        }
                    });
                    if (Crashindicator != 1) {
                        CrashCount.push({ "ID": i.ID, "TowerID": i.TowerID });
                    }

                    ErrorCount.filter(function (error) {
                        if (error.ID == i.ID && error.TowerID == i.TowerID) {
                            ErrorCount.splice(ErrorCount.indexOf(error), 1);
                        }
                    });
                }

                if (i.MapColor != "yellow" && i.MapColor != "red") {
                    CrashCount.filter(function (crash) {
                        if (crash.ID == i.ID && crash.TowerID == i.TowerID) {
                            CrashCount.splice(CrashCount.indexOf(crash), 1);
                        }
                    });
                    ErrorCount.filter(function (error) {
                        if (error.ID == i.ID && error.TowerID == i.TowerID) {
                            ErrorCount.splice(ErrorCount.indexOf(error), 1);
                        }
                    });
                }
                if (ErrorCount.length - 1 == 0) {
                    alarm.pause();
                }

                $('#liveErrorCount').text(ErrorCount.length - 1);
                $('#liveCrashCount').text(CrashCount.length - 1);
                $("#tower_" + i.TowerID + "getValue" + i.ID).css('background-color', i.MapColor);
                $("#tower_" + i.TowerID + "getValue" + i.ID).css('color', i.TextColor);
            }
        }
    });
    con.start();
    $(document).keydown(function (e) {
        if (e.keyCode == 32 && e.ctrlKey) {
            alarm.pause();
        }
    });
</script>

<style>

    table, td, th {
        border: 1px solid black;
        text-align: center;
    }

    table {
        table-layout: fixed;
        width: 99.8%
    }

    p {
        position: relative;
        width: 100px;
        height: 104px;
        transform: rotate(-90deg);
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cl {
        max-width: 10px;
    }

    #liveTable {
        width: 100%;
    }

        #liveTable td {
            height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 1.2%;
        }

    #liveDeviceName {
        background-color: #777;
        height: 2%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-right-color: #f8f9fa;
    }
</style>
