@*@model List<int>*@
@{
    var city = ViewBag.city;
    var ID = 1;
    var diagramID = ViewBag.DiagramID;
    //foreach (var item in Model)
    //{
    //    city[item - 1].CheckedID = item;
    //}
}
@foreach (var item in city)
{
    <li>@item.CityName</li>
    <div class="input_styled checklist pull-left" style="margin-top:-24px;margin-left:91%;z-index:0; height:24px;width:20px;">
        <div class="rowCheckbox" value="@diagramID" id="city_check">
            <div class="custom-checkbox" id="@item.ID">
                @if (item.CheckedID != 0)
                {
                    <input name="city_checked" id="city_checked@(item.ID)" checked="checked" type="checkbox" value="@item.CityName" hidefocus="true" style="outline: none;" class="gradient">
                    <label id="checked_add@(item.ID)" value="@item.ID" class="checked" style="background-size:19px;"></label>
                }
                else
                {
                    <input name="city_checked" id="city_checked@(item.ID)" type="checkbox" value="@item.CityName" hidefocus="true" style="outline: none;" class="gradient">
                    <label id="checked_add@(item.ID)" value="@item.ID" class="" style="background-size:19px; padding-left:20px;"></label>
                }
            </div>
        </div>
    </div>
    ID++;
}
@*<script src="~/Content/ScriptView/CountrieSearch.js"></script>*@

@*<script src="~/Content/ScriptView/CheckedCity.js"></script>*@
