@model IEnumerable<AdminPanelDevice.Models.TitleTowerName>

@{ 
    var countrie = ViewBag.countrie;
    var state = ViewBag.state;
    var city = ViewBag.city;
    var indicator = ViewBag.Indicator;
    var countrieName = "";
    var stateName="";
    var cityName = "";
    var countrieListID=ViewBag.CountrieListID;
}
     @foreach (var item in Model)
     {
         countrieName = item.CountrieName;
         stateName = item.StateName;
         cityName = item.CityName;
     }
<table style="width: 99.8%;" id="adapterSettings">
    <tbody>
        <tr><th colspan="2">Countrie</th></tr>
        <tr>
            <td class="adapterInput" colspan="2" style="text-align: center;">
                <ul class="typeSelect" id="typeSelect">
                    <li>
                        <span class="type" id="countrieName">@countrieName</span><span class="arrow">
                            <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                        </span>
                    </li>
                </ul>
                <ul class="typeDropDownList" id="typeDropDownList" value="@countrieListID" style="width: 145px; display: none; position:relative;">
                    <input class="deviceInput inputField gradient" name="countries_search" id="countries_search" placeholder="Search" value="" type="text" hidefocus="true" style="outline: none; color: white">
                     <div id="countrie_partial" class="search_count_stat_city"></div>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
    <table style="width: 99.8%; margin-top:5px;" id="adapterSettings">
        <tbody>

            <tr><th colspan="2">State</th></tr>
            <tr>
                <td class="adapterInput" colspan="2" style="text-align: center;">
                    <ul id="typeSelectState" class="typeSelect">
                        <li>
                            <span class="type" id="state">@stateName</span><span class="arrow">
                                <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                            </span>
                        </li>
                    </ul>
                    <ul class="typeDropDownList" id="typeDropDownListState" value="@countrieListID" style="width: 145px; display: none; position:relative">
                        <input class="deviceInput inputField gradient" name="state_search" id="state_search" placeholder="Search" value="" type="text" hidefocus="true" style="outline: none; color: white">
                        <div id="state_partial" class="search_count_stat_city"></div>

                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

<table style="width: 99.8%; margin-top:5px;" id="adapterSettings">
    <tbody>

        <tr><th colspan="2">City</th></tr>
        <tr>
            <td class="adapterInput" colspan="2" style="text-align: center;">
                <ul id="typeSelectCity" class="typeSelect">
                    <li>
                        <span class="type">City</span><span class="arrow">
                            <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                        </span>
                    </li>
                </ul>

                <ul class="typeDropDownList" id="typeDropDownListCity" value="@countrieListID" style="width: 145px; display: none; position:relative;">
                    <ul class="select_time" id="city_select_all" style="min-width: 45px; min-height: 18px;padding: 0px; width: 30%;margin-top: 1px;margin-left: 178px;height: 20px;">
                        <li style="height:19px;">
                            <span class="type" value="" id="">ALL</span><span class="arrow" style=" height:19px;">
                                <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                            </span>
                        </li>
                    </ul>
                    <ul class="dyseqList typeDropDownList" id="city_allselect" style="width:30%; display: none; margin-left:177px; z-index:1;">
                    <li value="All">All</li>
                    <li value="Select">Select</li>
                    </ul>
                  

            <input class="deviceInput inputField gradient" name="city_search" id="city_search" placeholder="Search" value="" type="text" hidefocus="true" style="outline: none; color: white; font-size:11px; font-weight:100; width:70%; margin-left:-80px; margin-top:-21px;">

            <input class="deviceInput inputField gradient" name="city_name_add" id="city_name_add" placeholder="City" value="" type="text" hidefocus="true" style="outline: none;  color: white; font-size: 11px;font-weight: 100; width: 70%;margin-left: -3px;margin-top: -6px">
            <input type="button" id="add_city" name="add_city" value="Add City" class="btn">

            <div id="city_partial" class="search_count_stat_city" style="margin-top:2px;"></div>

            </ul>
            </td>
        </tr>
    </tbody>
</table>
@*<link href="~/Content/Style/main.css" rel="stylesheet" />*@
@*<script src="~/Content/ScriptView/CountrieSearch.js"></script>*@