@model IPagedList<AdminPanelDevice.Models.WalkTowerDevice>

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    //AdminPanelDevice.Models.DeviceContext db = new AdminPanelDevice.Models.DeviceContext();
    //var IntervalNumber = ViewBag.IntervalTime;
    var pageList = ViewBag.pageListNumber;

    <script type="text/javascript">
    $(document).ready(function () {
    @*var edit = @Html.Raw(Json.Encode(@ViewBag.Edit));*@
    var interval_time = @Html.Raw(Json.Encode(@ViewBag.Interval));
    var click_checked_log = @Html.Raw(Json.Encode(@ViewBag.CheckedLog));
    var click_checked_map = @Html.Raw(Json.Encode(@ViewBag.CheckedMap));
    var GPS =@Html.Raw(Json.Encode(@ViewBag.GPS));
        var towerIP = @Html.Raw(Json.Encode(@ViewBag.TowerIP));
        var presetInd = @Html.Raw(Json.Encode(@ViewBag.PresetInd));
        var LMI =@Html.Raw(Json.Encode(ViewBag.LMI));
        var defineWalk =@Html.Raw(Json.Encode(ViewBag.DefineWalk));
        var walkCheck =@Html.Raw(Json.Encode (ViewBag.WalkCheck));
    var int = 1;
    @*var all=@Html.Raw(Json.Encode(ViewBag.All));
        var select =@Html.Raw(Json.Encode(ViewBag.Select));*@
        if (presetInd == 1) {
            $.each(click_checked_log, function (i, val) {
                $('#log_checked_add' + val.WalkID).removeClass("").addClass("checked");
                $('#log_checked' + val.WalkID).prop('checked', true);
            });

            $.each(click_checked_map, function (i, val) {
                $('#map_checked_add' + val.WalkID).removeClass("").addClass("checked");
                $('#map_checked' + val.WalkID).prop('checked', true);
            });

            $.each(interval_time, function (j, val) {
                $('#interval' + val.WalkID).text(val.ScanInterval);
            });
            $.each(GPS, function (i, val) {
                $('#map_checked_add' + val.WalkID).removeClass("").addClass("checkedGps");
            });
            if (defineWalk == true) {
                $('#walk_checked_add').removeClass("").addClass("checked");
                $("#walk_checked").prop('checked', true);
            }
            else {
                $('#walk_checked_add').removeClass("checked").addClass("");
                $("#walk_checked").prop('checked', true);
            }
        }
        else {
            $.each(LMI, function (i, val) {
                $('#log_checked_add' + val.LogID).removeClass("").addClass("checked");
                $('#log_checked' + val.LogID).prop('checked', true);
                $('#map_checked_add' + val.MapID).removeClass("").addClass("checked");
                $('#map_checked' + val.MapID).prop('checked', true);
                $('#interval' + val.IntervalID).text(val.Interval);
                $('#map_checked_add' + val.GpsId).removeClass("").addClass("checkedGps");
            });
        }
        $('#tower_ip').val(towerIP);
    });
    </script>

}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="form-group scroll_walk">
    <table class="table" style="table-layout:fixed; width:100%;">

        <tbody id="check_body">

            @foreach (var item in Model)
            {
                <tr id="@item.WalkID" class="information_walk">
                    <td style="width:20%;">
                        @if (item.OIDName == "" || item.OIDName == "Is Not Name")
                        {
                            <div class="descriptionDiv" title="@item.OIDName" id="oidname@(item.WalkID)" style="color:darkred;" value="@item.WalkOID">Is Not Name</div>
                        }
                        else
                        {
                            <div class="descriptionDiv" title="@item.OIDName" id="oidname@(item.WalkID)" value="@item.WalkOID">@item.OIDName</div>
                        }
                    </td>
                    <td style="width:35%;">
                        @if (item.WalkDescription == "" || item.WalkDescription == "Is Not Description")
                        {
                            <div class="descriptionDiv" title="@item.WalkDescription" id="description@(item.WalkID)" style="color:darkred;" value="@item.WalkOID">Is Not Description</div>
                        }
                        else
                        {
                            <div class="descriptionDiv" title="@item.WalkDescription" id="description@(item.WalkID)" value="@item.WalkOID">@item.WalkDescription</div>
                        }
                    </td>
                    <td style="width:20%">
                        <div class="valueDiv" title="@item.Type" id="Value@(item.WalkID)" value="@item.Value" style="color: #b8c0c8;">@item.Type</div>
                    </td>
                    <td style="width:13.3%">
                            <input class="deviceInput inputField gradient mydescriptioninput" name="@(item.WalkID)" id="my_description_walk@(item.WalkID)" value="@(item.MyDescription)" placeholder="description" type="text" hidefocus="true" style="outline: none; color: white;width:160px; max-height:20px; margin-top:-2px;">
                    </td>
                    <td style="width:3%">
                     <span class="log_map_settings" id="log_map_settings@(item.WalkID)" value="@(item.WalkID)"><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings" class="logmapsetting" value="@(item.WalkID)" id="log_map_setting@(item.WalkID)" data-toggle="modal" data-target="#LogMapSetting" style="margin-top: 7px; margin-left: -19px; position: absolute;"></span>
                    </td>
                    <td style="width:5%;">
                        <div class="input_styled checklist pull-left" style="margin-top:-6px;margin-left:25%;z-index:0; height:20px;">
                            <div class="rowCheckbox map_check">
                                <div class="custom-checkbox" id="@item.WalkID">
                                    <input name="map_checked" id="map_checked@(item.WalkID)" type="checkbox" hidefocus="true" style="outline: none;" class="gradient">
                                    <label id="map_checked_add@(item.WalkID)" style="background-size:19px;"></label>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width:5%;">
                        <div class="input_styled checklist pull-left" style="margin-top:-6px; margin-left:25%;z-index:0; height:20px;">
                            <div class="rowCheckbox log_check">
                                <div class="custom-checkbox" id="@item.WalkID">

                                    <input name="log_checked" id="log_checked@(item.WalkID)" type="checkbox" hidefocus="true" style="outline: none;" class="gradient">
                                    <label id="log_checked_add@(item.WalkID)" class="context-menu-one" style="background-size:19px;"></label>

                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="adapterInput" id="select_time" value="@item.WalkID" style="text-align: center; width:12%; padding:4px;">
                        <ul class="select_time" id="select_time@(item.WalkID)" value="@item.WalkID" style="min-width:45px; min-height:18px; padding:4px; margin-top:1px;">
                            <li>
                                <span class="type" id="interval@(item.WalkID)">@ViewBag.defaultInterval</span><span class="arrow" style=" height:19px;">
                                    <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                                </span>
                            </li>
                        </ul>
                        <ul class="select_time_list" id="select_time_list@(item.WalkID)" value="@item.WalkID" style="position: relative; display: none;">
                            <div id="interva_partial@(item.WalkID)" class="search_time_interval" style="position:absolute; width:100%;">

                            </div>
                        </ul>
                    </td>

                    <td style="width:8%;">
                        <ul id="setButtons" value="@item.WalkID">
                            <li><button type="button" id="set@(item.WalkID)" value="@(item.WalkID)" class="btn" data-toggle="modal" data-target="#SetModal" style="line-height:9px; font-size:11px;">Set</button></li>
                        </ul>
                    </td>
                    <td style="width:8%;">
                        <ul id="getButtons" value="@item.WalkID">
                            <li><button type="button" id="get@(item.WalkID)" value="Get" class="btn" style="line-height:9px; font-size:11px;">Get</button></li>
                        </ul>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
<div id="page_list" style="margin-left:25%; margin-top:-34px;">

    @Html.PagedListPager(Model, page => Url.Action("PageNumber", new { page = page }))
    <ul class="select_list" id="select_list" style=" min-width: 54px; min-height: 18px;padding: 4px; margin-top: -47px; margin-left: -150px; width: 103px;">
        <li>
            <span class="type" value="" id="walk_list">@pageList</span><span class="arrow" style=" height:19px;">
                <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
            </span>
        </li>
    </ul>
    <ul class="select_list_information" id="select_list_information" style="width:69px; display: none;height:120px; margin-top: -150px; margin-left:-150px; border:none">
        <div id="interva_partial" class="walk_list_search" style="width:85px;margin-top: 9px;">
            <li id="time_interval_value" style="margin-top:-1px;" value="20">20</li>
            <li id="time_interval_value" style="margin-top:-1px;" value="50">50</li>
            <li id="time_interval_value" style="margin-top:-1px;" value="100">100</li>
            <li id="time_interval_value" style="margin-top:-1px;" value="500">500</li>
            <li id="time_interval_value" style="margin-top:-1px;" value="1000">1000</li>
            <li id="time_interval_value" style="margin-top:-1px;" value="3000">3000</li>
        </div>
    </ul>
</div>
<script src="~/Content/ScriptView/pageListClick.js"></script>