@model IEnumerable<AdminPanelDevice.Models.MibTreeInformation>

@*@using PagedList
@using PagedList.Mvc
@using AdminPanelDevice.Helpers*@
@{
    ViewBag.Title = "Index";
    //AdminPanelDevice.Models.DeviceContext db = new AdminPanelDevice.Models.DeviceContext();
    //var IntervalNumber = db.ScanningIntervals.ToList();
    //IntervalNumber = IntervalNumber.OrderBy(o => o.Interval).ToList();
    //int[] number = { 20, 30, 50, 100, 2000 };

}

<div class="form-group" style="overflow:auto; height:560px">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MibID)
            </th>
            <th>
                Checked
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indexes)
            </th>
        </tr>

        <tbody id="check_body">

            @foreach (var item in Model)
            {
                <tr data-id="@item.ID" class="a">
                    <td >
                        <div id="OIDName@(item.ID)" value="@item.OID" style="color:white;">@item.Description</div>
                        @*<div id="device_ip" value="@ViewBag.IP" style="display:none">@ViewBag.IP</div>*@
                    </td>
                    <td>
                        <div id="Value@(item.ID)" style="color:white;">@item.Syntax</div>
                        @*<div id="Type@(item.ID)" style="display:none">@item.Type</div>*@
                    </td>
                    <td>
                        <div class="input_styled checklist pull-left" style="margin-top:-36px;margin-left:222px;z-index:0; height:24px;">
                            <div class="rowCheckbox" id="">
                                <div class="custom-checkbox" id="">
                              
                                 <input name="city_checked" id="city_checked" type="checkbox" value="" hidefocus="true" style="outline: none;" class="gradient">
                                 <label id="checked_add" value="" class="" style="background-size:19px;"></label>
                                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @*<select class="selectpicker" id="Time@(item.ID)" style="position:relative; top:8px;">

                            @foreach (var items in IntervalNumber)
                            {
                                if (@items.Interval == @item.ID)
                                {
                                    <option selected value="@items.Interval">@items.Interval</option>
                                }
                                else
                                {
                                    <option value="@items.Interval">@items.Interval</option>
                                }
                            }
                        </select>*@

                    </td>
                    <td>
                        <div id="oid_name@(item.ID)" value="@item.ID" style="display:none">@item.ID</div>
                        <div id="type_name@(item.ID)" value="@item.Status" style="display:none">@item.Status</div>
                    </td>
                    @*<td>
                        <button class="btn btn-info" type="button" id="set_click" value="OpenSet@(item.ID)" data-toggle="modal" data-target="#SETModal">Set</button>
                    </td>*@

                </tr>

            }

        </tbody>

    </table>
</div>
<script src="~/Content/ScriptView/DeviceManage.js"></script>