
@model  IEnumerable<AdminPanelDevice.Models.Trap>

@*@using PagedList
    @using PagedList.Mvc*@


@{
    //var pagenumber = ViewBag.pageNumber;
    var textcolor = "";
    <script type="text/javascript">
      $('#liveErrorCount').text(@Html.Raw(Json.Encode(ViewBag.ErrorCount)));
      $('#liveCrashCount').text(@Html.Raw(Json.Encode(ViewBag.CrashCount)));
    </script>
}
<table class="table table-striped table-bordered draggable sortable" id="logTableInf" style="width: 99.7%;" data-toggle="table">
    <thead>
        <tr class="theadName">
            @*<th id="idColumn">ID</th>*@
            <th id="countrieColumn">Countrie</th>
            <th id="stateColumn">State</th>
            <th id="cityColumn">City</th>
            <th id="towerColumn">Tower</th>
            <th id="deviceColumn">Device Name</th>
            <th id="ipColumn">IP</th>
            <th id="datetimeColumn">Date/Time</th>
            <th id="oidNameColumn">OIDName</th>
            <th id="descriptionColumn">Description</th>
            <th id="valueColumn">Value</th>
            <th id="alarmDescriptionColumn">AlarmDescription</th>
            <th id="oidColumn">CurrentOID</th>
            <th id="oidreturnedColumn">ReturnedOID</th>
        </tr>
    </thead>
    <tbody id="trap_log_information">
        @foreach (var item in Model.ToList())
        {
            if (item.AlarmStatus == "white")
            {
                textcolor = "black";
            }

            if (item.AlarmStatus == "yellow")
            {
                textcolor = "black";
            }
            if (item.AlarmStatus == "red")
            {
                textcolor = "white";
            }
            <tr style="background-color:@(item.AlarmStatus); color:@(textcolor)" class="td_stule">
                @*<td id="idColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.ID">@item.ID</div></td>*@
                <td id="countrieColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.Countrie">@item.Countrie</div></td>
                <td id="stateColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.States" style="max-width:100px;">@item.States</div></td>
                <td id="cityColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.City"style="max-width:110px;">@item.City</div></td>
                <td id="towerColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.TowerName">@item.TowerName</div></td>
                <td id="deviceColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.DeviceName">@item.DeviceName</div></td>
                <td id="ipColumn@(item.ID)" value="@item.ID"><a target="_blank" href="http://@(item.IpAddres)"><div class="td_stule" title="@item.IpAddres">@item.IpAddres</div></a></td>
                <td id="datetimeColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.dateTimeTrap">@item.dateTimeTrap</div></td>
                <td id="oidNameColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.OIDName">@item.OIDName</div></td>
                <td id="descriptionColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.Description">@item.Description</div></td>
                <td id="valueColumn@(item.ID)" class="valueInformation" value="@item.ID"><div class="td_stule" title="@item.Value">@item.Value</div></td>
                <td id="alarmDescriptionColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.AlarmDescription"style="max-width:120px;">@item.AlarmDescription</div></td>
                <td id="oidColumn@(item.ID)" value="@item.ID" name="@item.ReturnedOID"><div class="td_stule" title="@item.CurrentOID">@item.CurrentOID</div></td>
                <td id="oidreturnedColumn@(item.ID)" value="@item.ID" name="@item.ReturnedOID"><div class="td_stule" title="@item.ReturnedOID">@item.ReturnedOID</div></td>
            </tr>
        }
    </tbody>
</table>

<style>
    .td_stule {
        max-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
        font-weight: bold;
    }
    .theadName th {
        color:white;
    }
</style>