@model IPagedList<AdminPanelDevice.Models.TrapLog>

@using PagedList
@using PagedList.Mvc
@using AdminPanelDevice.Helpers
@{ 
    
}

@foreach (var item in Model)
{
    <tr>
        <td id="countrieColumn" value="@item.ID">@item.Countrie</td>
        <td id="stateColumn" value="@item.ID">@item.States</td>
        <td id="cityColumn" value="@item.ID">@item.City</td>
        <td id="towerColumn" value="@item.ID">@item.TowerName</td>
        <td id="deviceColumn" value="@item.ID">@item.DeviceName</td>
        <td id="ipColumn" value="@item.ID">@item.IP</td>
        <td id="descriptionColumn" value="@item.ID">@item.Description</td>
        <td id="oidColumn" value="@item.ID">@item.OID</td>
        <td id="valueColumn" value="@item.ID">@item.Value</td>
        <td id="datetimeColumn" value="@item.ID">@item.DateTime</td>
    </tr>
}
    <div id="page_list" style="margin-left:25%;">

        @Html.PagedListPager(Model, page => Url.Action("1", new { page = page }))
        @*<ul class="select_list" id="select_list" style=" min-width: 54px; min-height: 18px;padding: 4px; margin-top: -47px; margin-left: -150px; width: 103px;">
            <li>
                <span class="type" value="" id="walk_list">@pageList</span><span class="arrow" style=" height:19px;">
                    <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                </span>
            </li>
        </ul>*@
       
    </div>