@model IPagedList<AdminPanelDevice.Models.Trap>

@using PagedList
@using PagedList.Mvc

<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
<script src="~/signalr/Hubs"></script>
@{
    var pagenumber = ViewBag.pageNumber;
    var textcolor = "white";

    <script type="text/javascript">
        var colorDefine = @Html.Raw(Json.Encode(@ViewBag.ColorDefine));

        if (colorDefine != 1) {
            $('#errorCount').text(@Html.Raw(Json.Encode(@ViewBag.errorCount)));
            $('#errorCount').text(@Html.Raw(Json.Encode(@ViewBag.errorCount)));
            $('#correctCount').text(@Html.Raw(Json.Encode(@ViewBag.correctCount)));
            $('#crashCount').text(@Html.Raw(Json.Encode(@ViewBag.crashCount)));
            $('#allCount').text(@Html.Raw(Json.Encode(@ViewBag.allCount)));
            $('#whiteCount').text(@Html.Raw(Json.Encode(@ViewBag.whiteCount)));
        }
    </script>
}
<div style="height: 100vh;width: 100vw; max-height: 850px; overflow-y: auto !important; margin-top: -15px; border-bottom: 1px solid #000;">
<table class="table table-striped table-bordered draggable sortable" id="logTableInf" style="width: 99vw; table-layout: fixed; height: 850px;" data-toggle="table">
    <thead class="theadName">
        <tr>
            <th id="idColumn">ID</th>
            <th id="countrieColumn">Countrie</th>
            <th id="stateColumn">State</th>
            <th id="cityColumn">City</th>
            <th id="towerColumn">Tower</th>
            <th id="deviceColumn">Device Name</th>
            <th id="ipColumn">IP</th>
            <th id="datetimeColumn">Date/Time</th>
            <th id="oidNameColumn">OIDName</th>
            <th id="descriptionColumn">Description</th>
            <th id="valueColumn">Value</th>
            <th id="alarmDescriptionColumn">AlarmDescription</th>
            <th id="oidColumn">CurrentOID</th>
            <th id="oidreturnedColumn">ReturnedOID</th>
            <th id="errorMapColumn" style="display:block">Status</th>
        </tr>
    </thead>
    <tbody id="trap_log_information">
        @foreach (var item in Model)
        {
            if (item.AlarmStatus == "white")
            {
                textcolor = "white";
                item.AlarmStatus = "#333";
            }

            if (item.AlarmStatus == "yellow")
            {
                textcolor = "black";
            }
            if (item.AlarmStatus == "red")
            {
                textcolor = "white";
            }
            if (item.AlarmStatus == "green")
            {
                textcolor = "white";
            }
            <tr style="background-color:@(item.AlarmStatus); color:@(textcolor); width:98vw;" @*class="td_stule"*@>
                <td style="width:4%" id="idColumn@(item.ID)" value="@item.ID"><div class="td_stule" title="@item.ID">@item.ID</div></td>
                <td style="width:4%" id="countrieColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.Countrie">@item.Countrie</div></td>
                <td style="width:4%" id="stateColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.States">@item.States</div></td>
                <td style="width:5%" id="cityColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.City">@item.City</div></td>
                <td style="width:5%" id="towerColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.TowerName">@item.TowerName</div></td>
                <td style="width:5%" id="deviceColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.DeviceName">@item.DeviceName</div></td>
                <td style="width:5%" id="ipColumn@(item.ID)" value="@item.ID"><a target="_blank" href="http://@(item.IpAddres)"><div class="div_style" title="@item.IpAddres">@item.IpAddres</div></a></td>
                <td style="width:5%" id="datetimeColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.dateTimeTrap">@item.dateTimeTrap</div></td>
                <td style="width:5%" id="oidNameColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.OIDName">@item.OIDName</div></td>
                <td style="width:5%" id="descriptionColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.Description">@item.Description</div></td>
                <td style="width:8%" id="valueColumn@(item.ID)" class="valueInformation" value="@item.ID"><div class="div_style" title="@item.Value">@item.Value</div></td>
                <td style="width:5%" id="alarmDescriptionColumn@(item.ID)" value="@item.ID"><div class="div_style" title="@item.AlarmDescription">@item.AlarmDescription</div></td>
                <td style="width:5%" id="oidColumn@(item.ID)" value="@item.ID" name="@item.ReturnedOID"><div class="div_style" title="@item.CurrentOID">@item.CurrentOID</div></td>
                <td style="width:5%" id="oidreturnedColumn@(item.ID)" value="@item.ID" name="@item.ReturnedOID"><div class="div_style" title="@item.ReturnedOID">@item.ReturnedOID</div></td>
                <td style="width:3%" id="errorMapColumn@(item.ID)" value="@item.ID">
                    <div class="dropdown td_style" id="logList" value="@(item.ID)" style="margin-top:-7px; max-height:27px !important;margin-left:30%;overflow:inherit!important;">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" value="@(item.ID)" id="logListStatus@(item.ID)">
                            <i class="glyphicon glyphicon-th-list" style="height:20px;"></i>
                        </button>
                        <ul class="dropdown-menu" style="min-width: 57px;overflow:inherit!important;">
                            <li style="background-color:green; cursor:pointer;" id="logCorrect" data-toggle="modal" data-target="#statusLogCorrectError" value="@(item.ID)">Correct</li>
                            <li style="background-color:red;  cursor:pointer;" id="logError" data-toggle="modal" data-target="#statusLogCorrectError" value="@(item.ID)">Error</li>
                            <li style="background-color:yellow; cursor:pointer;" id="logCrash" data-toggle="modal" data-target="#statusLogCorrectError" value="@(item.ID)">Crash</li>
                            <li style="background-color:white; cursor:pointer;" id="logClear" data-toggle="modal" data-target="#statusLogCorrectError" value="@(item.ID)">Clear</li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
<div id="page_Log" style="margin-left:25%; margin-top:-50px; display:block">

    <!-- log pagelist lenght-->
    <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="traplogpagelist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -100px; top: 51px;">@pagenumber</button>
        <ul class="dropdown-menu logpage" role="menu" id="pagelistlog" style=" margin-left: -100px; top: -86px; min-height: 137px;">
            <li role="menuitem" class="menuitemLog" id="countrieColumn"><label>50</label></li>
            <li role="menuitem" class="menuitemLog" id="stateColumn"><label>100</label></li>
            <li role="menuitem" class="menuitemLog" id="cityColumn"><label>200</label></li>
            <li role="menuitem" class="menuitemLog" id="towerColumn"><label>500</label></li>
            <li role="menuitem" class="menuitemLog" id="deviceColumn"><label>1000</label></li>
        </ul>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("PageLog", new { page = page }))
</div>

<script src="~/Content/ScriptView/pageListClick.js"></script>
<script src="~/Content/ScriptView/dragtable.js"></script>
<link href="~/Content/Style/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/ScriptView/jquery.dataTables.min.js"></script>

<style>
    .div_style {
        /*max-height: 25px;*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 120px;
    }

    .td_style {
        width: 7%;
    }

    .theadName th {
        color: white;
        background-color: #333;
    }
</style>